@charset "utf-8";

*{margin: 0; padding: 0; box-sizing: border-box;}
li{list-style: none;}
a{text-decoration: none; color: inherit;}
img{max-width: 100%; vertical-align: top;}
table{width: 100%; border-collapse: collapse;}
button{cursor: pointer;}
body{background: #fff; color: #333;}

.wrap{height:750px ; position: relative; min-width:1570px}
.top{height: 650px; display: flex;}
header{width: 200px; padding: 20px 10px;}
header h1{margin-bottom: 50px;}

nav>ul>li>a{display: block; background: #007ba0; color: #fff; padding: 10px;}
nav>ul>li:hover>a,
nav>ul>li.on>a,
nav>ul>li>a:focus{background: #ea517e;}
.sub{display: none;}
.sub li a{display: block; background: #fff; padding: 10px;}
.sub li a:hover,
.sub li a:focus{background: #007ba0; color: #fff;}
.contents{width: calc(100% - 200px); background: #f03;}

.con1{height: 400px; background: #369; display: flex;}
.slide{width: calc(100% - 230px); background: pink;  position: relative; overflow: hidden;}
.slide ul{width: 300%; height: 100%; position: absolute; top: 0; left: 0; display: flex;}
.slide ul li{width: calc(100% / 3); height: 100%;  position: relative;}
.slide ul li a{display: block; height: 100%;}
.slide ul li.s1{background: url(../img/s1.jpg) no-repeat center/cover}
.slide ul li.s2{background: url(../img/s2.jpg) no-repeat center/cover}
.slide ul li.s3{background: url(../img/s3.jpg) no-repeat center/cover}
.slide ul li .text{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center;}
.slide ul li  .text h2{background: #ea517e; padding: 20px; border-radius: 50px; color: #fff;}
.slide ul li  .text p{color: #fff; text-shadow: 3px 3px 3px rgba(0,0,0,.5); font-size: 20px; font-weight: bold;}

.banner{width: 230px; background: #ea517e; height: 100%; text-align: center;}
.banner a{display: block; height: 100%; padding: 50px 10px}
.banner .img{width: 100px; height: 100px; border-radius: 50%; border: 5px solid #fff; overflow: hidden; margin: 0 auto 20px;}
.banner .img img{/*width: 100px; height: 100px; object-fit: cover;*/height: 100%; max-width: none; position: relative; left: -15px;}
.banner h2{color: #fff; letter-spacing: -2px; line-height: 1.2; margin-bottom: 10px;}
.banner .txt{color: #fff; margin-bottom: 20px;}
.banner .button{width: 100%; color: #fff; background: #007ba0; height: 40px; line-height: 40px; border-radius: 50px;}

.con2{height: 250px; background: #ccc; display: flex;}
.con2 article{width: 50%; padding: 10px 30px}
.con2 article h2{width: 180px; padding: 10px 0; text-align: center; background: #007ba0; color: #fff; font-size: 18px; border-radius: 20px 20px 0 0;}
.con2 table{border-top: 3px solid #007ba0;}
.con2 table th{text-align: left; padding: 10px;}
.con2 table tr:nth-child(odd){background: #fff;}

.con2 .gall ul{border-top: 3px solid #007ba0; display: flex; justify-content: space-around; padding-top: 20px;}
.con2 .gall ul .img{height: 100px; overflow: hidden; margin-bottom: 5px;}
.con2 .gall ul li{flex-basis: 200px;}
.con2 .gall ul li a{display: block; height: 100%}
.con2 .gall ul span{display: block; text-align: center; font-weight: bold;}
footer{height: 100px; background: #333; position: relative; color: #fff; display: flex; padding-left: 20px; align-items: center;}
footer .copy{margin-left: 100px;}
footer select{position: absolute; top: 35px; right: 20px; width: 150px; height: 30px;}

.popup{position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,.5); z-index: 9999; display: none;}
.popcon{width: 500px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center; padding: 20px;  background: #fff; }
.popcon h2{color: #ea517e; margin-bottom: 20px;}
.popcon .text{margin: 20px 0;}
.popcon .button{text-align: right;}