@charset "utf-8";

*{margin: 0; padding: 0; box-sizing: border-box;}
li{list-style: none;}
a{text-decoration: none; color: inherit;}
img{max-width: 100%; vertical-align: top;}
table{width: 100%; border-collapse: collapse;}
button{cursor: pointer;}
body{background: #fff; color: #333;}

.wrap{height: 950px; min-width:1250px ; position: relative;}
.top{height: 800px;  display: flex;}
header{width: 200px; background: #ecf2ff; padding: 100px 0; }
header h1{text-align: center; margin-bottom: 30px;}

nav{padding: 0 10px;}
nav>ul>li{position: relative;}
nav>ul>li>a{display: block; background: #3e54ac; color: #fff; padding: 10px;}
nav>ul>li:hover>a,
nav>ul>li.on>a,
nav>ul>li>a:focus{background: #fff; color: #3e54ac;}

.sub{position: absolute; background: rgba(0,0,0,.5);  top: 0; left: 180px; width:calc(100vw - 190px); display: none; z-index: 10; font-size: 0;}
.sub li{display: inline-block; font-size: 16px;}
.sub li a{display: block; width: 200px; padding: 10px 20px; color: #fff;}
.sub li a:hover,
.sub li a:focus{background: #3e54ac; color: #fff;}


.contents{width: calc(100% - 200px);}
.slide{height: 400px; background: skyblue; position: relative;}
.slide ul li{position: absolute; width: 100%; height: 400px; top: 0; left: 0; overflow: hidden; display: none;}
.slide ul li a{display: block; height: 100%;}
.slide ul li.s1{background: url(../img/s1.jpg) no-repeat center/cover; display: block;}
.slide ul li.s2{background: url(../img/s2.jpg) no-repeat center/cover;}
.slide ul li.s3{background: url(../img/s3.jpg) no-repeat center/cover;}
.slide ul li .text{position: absolute; top: 130px; left: 0; width:100%; font-size: 30px; color: #fff; text-align: center; text-shadow: 2px 2px 2px rgba(0,0,0,.8); font-family: '나눔 명조'; background: rgba(0,0,0,.8); padding: 10px 0;}
.banner{height: 150px; background: #3e54ac;}
.banner ul{display: flex; text-align: center; height: 100%;}
.banner ul li{flex-grow: 1; color: #fff;}
.banner ul li a{height: 100%; display: block; padding-top: 30px; }

.con{height: 250px;display: flex;}
.con article{width: 50%; padding: 10px;}
.con article h2{color: #3e54ac; border-bottom: 3px solid #3e54ac;}
.notice table th{ padding: 10px 0; text-align: left;}
.notice table td{text-align: center;}
.notice table tr{border-bottom: 1px dashed #ccc;}
.notice table a{width: 70%; background: #fff; display: block; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
.gall ul{display: flex; gap: 40px; justify-content: center; }
.gall ul li{padding-top: 20px; text-align: center; font-weight: bold;}
/* .gall ul li p{width: 180px;} */
.gall ul li a{display: block;}
.gall ul li p img{width: 180px; height: 130px; object-fit: cover;}
footer{height: 120px; background: #333; color: #fff; position: relative; padding-left: 200px; padding-top: 20px;}
footer ul{display: flex; gap: 20px;}
footer ul li{border-right: 1px solid #fff; padding-right: 20px;}
footer ul li:last-child{border: none;}
footer select{position: absolute; top: 30px; right: 20px;}
footer .copy{margin-top: 10px;}

.popcon{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); background: #fff; border-radius: 50px; z-index: 9999; text-align: center; padding: 50px; width: 500px; height: 700px; display: none;}
.popcon h2{color: #3e54ac; margin-bottom: 50px;}
.popcon button{padding: 20px; border: 0; margin-top: 20px;}