@charset "utf-8";

*{margin: 0; padding: 0; box-sizing: border-box;}
li{list-style: none;}
a{text-decoration: none; color: inherit;}
img{max-width: 100%; vertical-align: top;}
table{width: 100%; border-collapse: collapse;}
button{cursor: pointer;}
body{background: #fff; color: #333;}

.wrap{height: 100vh; position: relative; min-width: 1200px; min-height:910px ;}
.top{height:calc(100% - 120px); display: flex;}
header{width: 200px; background: #d7322d; padding: 10px;}
header h1{margin-bottom: 30px;}
nav>ul>li>a{background: #70190f; display: block; padding: 10px 0; text-align: center; color: #fff;}
nav>ul>li:hover>a,
nav>ul>li.on>a,
nav>ul>li>a:focus{background: #333;}
.sub{display: none;}
.sub li a{background: #fff; display: block; text-align: center; padding: 5px 0;}
.sub li a:hover,
.sub li a:focus{background:#d7322d; color: #fff;}

.spot{margin-top: 20px; text-align: center; font-size: 14px; color: #fff;}
.spot a:first-child{border-right: 1px solid #fff; padding-right: 5px;}

.contents{width: 400px;  padding: 40px 10px;}

.banner a{display: block; background: #d7322d; border-radius: 20px; display: flex; align-items: center; overflow: hidden; gap:10px}
.banner .photo img{width: 100px; height: 100px; object-fit: cover;}
.banner .text{flex-grow: 1;}
.banner .text h2{font-size: 17px; margin-bottom: 10px;}
.banner .text p{font-size: 13px;}
.banner .arrow{flex-grow: 1; text-align: center; }

.notice{margin-top: 20px;}
.notice h2{color: #fff; font-size: 18px; background: #d7322d; width: 120px; padding: 10px; text-align: center; border-radius: 20px 20px 0 0;} 
table, th, td{border: 1px solid #000; border-left: 0; border-right: 0;}
.notice table{border-top: 3px solid #d7322d;}
.notice table th{text-align: left; padding: 5px;}
.notice table td{color: #ccc;}
.notice a{display: block; width: 230px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}

.gall{margin-top: 20px;}
.gall h2{color: #fff; font-size: 18px; background: #d7322d; width: 120px; padding: 10px; text-align: center; border-radius: 20px 20px 0 0;}
.gall ul{display: flex; border-top: 3px solid #d7322d; gap:40px; justify-content: center;}
.gall ul li{padding-top: 30px;}
.gall ul li img{width: 120px; height: 150px; object-fit: cover;}
.gall ul li p{text-align: center; font-weight: bold;}


.go{margin-top: 20px;}
.go h2{color: #fff; font-size: 18px; background: #d7322d; width: 120px; padding: 10px; text-align: center; border-radius: 20px 20px 0 0;}
.go ul{display: flex; border-top: 3px solid #d7322d; gap:20px; justify-content: center;}
.go ul li{padding-top: 30px;}
.go ul li p{text-align: center; font-weight: bold;}

.slide{width: calc(100% - 600px); background: green; position: relative; overflow: hidden; }
.slide ul{position: absolute;  width:300%; top: 0; left: 0; height: 100%; display: flex;}
.slide ul li{width: calc(100% / 3); height: 100%; position: relative;}
.slide ul li a{display: block; height: 100%;}
.slide ul li.s1{background: url(../img/s1.jpg) no-repeat center/cover;}
.slide ul li.s2{background: url(../img/s2.jpg) no-repeat center/cover;}
.slide ul li.s3{background: url(../img/s3.jpg) no-repeat center/cover;}

.slide .txt{position: absolute; bottom:0; left: 0; background: rgba(0,0,0,.8); color: #fff; padding: 50px; width: 100%;}
.slide .txt h2{margin-bottom: 20px; font-size: 40px;}
.slide .txt h2 span{color: #d7322d;}
.slide .txt p{font-size: 22px;}
footer{height: 120px; background: #333; color: #fff; display: flex; gap:80px; align-items: center; padding-left: 20px;}
footer .flogo{width: 100px;}
footer div ul{display: flex; gap: 20px; font-size: 13px;}
footer div ul li{border-right: 1px solid #fff; padding-right: 20px;}
footer div ul li:last-child{border:none}
footer .copy{font-size: 13px; margin-top: 10px;}

.popup{position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,.5); z-index: 9999; display: none;}
.popcon{position: absolute; width: 500px; top: 50%; left: 50%; transform: translate(-50%, -50%) ; background: #fff; text-align: center; padding: 20px; border-radius: 20px;}
.popcon h2{color: #d7322d;}
.popup img{margin: 10px 0;}