@charset "utf-8";

*{margin: 0; padding: 0; box-sizing: border-box;}
li{list-style: none;}
a{text-decoration: none; color: inherit;}
img{max-width: 100%; vertical-align: top;}
table{width: 100%; border-collapse: collapse;}
button{cursor: pointer;}
body{background: #fff; color: #333;}

.wrap{position: relative;}
header{background: #caac7d; height: 100px;}
header .inner{width: 1200px; margin: auto; background: #caac7d; height: 100%; padding-top: 25px; position: relative;}

nav{position: absolute; top: 40px; right: 0; z-index: 10; }
nav>ul{display: flex;}
nav>ul>li>a{width: 150px; display: block; text-align: center; padding: 10px 0; color: #fff;}
nav>ul>li:hover>a,
nav>ul>li>a:focus,
nav>ul>li.on>a{background: #737373; color: #fff;}

.sub{display: none;}
.sub a{display: block; width: 150px; text-align: center; padding: 10px 0; font-size: 14px; background: #fff;}
.sub a:hover,
.sub a:focus{background: #caac7d;}

.slide{height: 300px ;background: #fcc; width: 1200px; margin: auto; position: relative; overflow: hidden;}
.slide ul{position: absolute; top: 0; left: 0;}
.slide ul li{width: 1200px; height: 300px; position: relative;}
.slide ul li a{display: block; height: 100%;}
.slide ul li.s1{background: url(../img/s1.jpg) no-repeat center/cover;}
.slide ul li.s2{background: url(../img/s2.jpg) no-repeat center/cover;}
.slide ul li.s3{background: url(../img/s3.jpg) no-repeat center/cover;}
.slide ul li .text{position: absolute; padding: 20px; color: #fff; background: rgba(202,172,125,.8); bottom: 0; left: 0;}


.contents{height: 200px; width: 1200px; margin: auto ; display: flex;}
.contents article{width: 400px;}
.contents article.gall{background: #fff;}

.notice{padding: 10px}
.notice h2{color: #caac7d; margin-bottom: 10px;}
.notice td{font-weight: bold; color: #caac7d;}
.notice th a{width: 280px; padding: 5px; font-weight: bold; text-align: left; display: block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}

.gall{padding: 10px}
.gall h2{color: #caac7d; margin-bottom: 10px;}
.gall ul{display: flex; gap:10px; justify-content: center;}
.gall ul li img{width: 100px; height: 137px; object-fit: cover;}
.gall ul li:hover{opacity: 0.5;}

.banner{padding: 10px}
.banner h2{color: #caac7d; margin-bottom: 10px;}
.banner a{display: block; height: 130px; background: url(../img/banner.jpg)  center/cover; border-radius: 30px; text-align: center; color: #fff; overflow: hidden;}
.banner div{background: rgba(202,172,125,.8); text-shadow: 2px 2px 5px rgba(0,0,0,.8); height: 100%;}
.banner p{background: #333; color: #fff; display: inline-block; font-size: 13px; padding: 5px; margin-top: 5px;}

footer{height: 100px; background: #333; color: #fff;}
footer .inner{width: 1200px; margin: auto; background: #333; height: 100%; position: relative; display: flex; gap: 20px; align-items: center;}
footer .sns{position: absolute; top: 30px; right: 30px;  display: flex; gap: 10px;}
footer .sns li a{display: block; width: 30px; height: 30px; background: #fff; border-radius: 50%; text-align: center; padding-top: 9px;}
footer .sns li:nth-child(1) a{background: #3c5b9a;}
footer .sns li:nth-child(2) a{background: #47b749;}
footer .sns li:nth-child(3) a{background: red;}

.popup{position: absolute; top: 50%; left: 50%; width: 500px; transform: translate(-50%, -50%); background: #fff; text-align: center; z-index: 9999; padding: 20px; border: 2px solid #caac7d; border-radius:20px ; display: none;}
.popup h2{color: #caac7d; margin-bottom: 20px;}